<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
	<title><% page_title %></title>
	<link rel="stylesheet" href="<% request.uri_base %>/res/css/djaka.css" />
	<script type="text/javascript" src="/res/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/res/js/jquery.tools.min.js"></script>
</head>
<body>
	<% content %>
	
</body>
</html>
