<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
	<title><% page_title %></title>
	<link rel="stylesheet" href="/res/css/djaka.css" />
	<script type="text/javascript" src="/res/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/res/js/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/res/js/jquery.countdown.js"></script>
	<script type="text/javascript" src="/res/js/jquery.countdown-it.js"></script>
	<script type="text/javascript" src="/res/js/interface.js"></script>
	<script type="text/javascript">
	$(function () {
		//$('#defaultCountdown').countdown({until: +<% time_to_click %>m, format: 'HMS'});
		$('#defaultCountdown').countdown({until: '+<% time_to_click %>s',
							  			  format: 'HMS',
										  layout:'Prossimo click fra:<br /><b>{d<}{dn} {dl} and {d>}'+ 
										  		 '{hn} {hl}, {mn} {ml}, {sn} {sl}</b>',
										  expiryText:'<div class="theclicker"><a href="/click">CLICK</a></div>'});
	});
	</script>
</head>
<body>
	<% content %>
</body>
</html>
