<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# djakarta: http://ogp.me/ns/fb/djakarta#">
	<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
	<% INCLUDE facebook_meta.tt %>
	<title><% page_title %></title>
	<link rel="stylesheet" href="/res/css/djaka.css" />
	<script type="text/javascript" src="/res/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/res/js/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/res/js/jquery.countdown.js"></script>
	<script type="text/javascript" src="/res/js/jquery.countdown-it.js"></script>
	<script type="text/javascript" src="/res/js/interface.js"></script>
	<script type="text/javascript">
	$(function () {
		//$('#defaultCountdown').countdown({until: +<% time_to_click %>m, format: 'HMS'});
		$('#defaultCountdown').countdown({until: '+<% time_to_click %>s',
							  			  format: 'HMS',
										  layout:'Prossimo click fra:<br /><b>{d<}{dn} {dl} and {d>}'+ 
										  		 '{hn} {hl}, {mn} {ml}, {sn} {sl}</b>',
										  expiryText:'<div class="theclicker"><a href="/game/click">CLICK</a></div>'});
	});
	</script>
	<script type="text/javascript">
  		function askForHelp()
  		{
      		FB.api(
        	'/me/djakarta:Execute',
        	'post',
			{ order: 'http://<% app_domain %>/share/help/<% action.id %>' },
        	function(response) {
           		if (!response || response.error) {
              		alert('Error occured');
           		} else {
              		alert('Cook was successful! Action ID: ' + response.id);
           		}
        	});
  		}
  	</script>
</head>
<body>
	<div id="fb-root"></div>
  	<script>
    	window.fbAsyncInit = function() {
      	FB.init({
        	appId      : '<% fb_app_id %>', // App ID
        	status     : true, // check login status
        	cookie     : true, // enable cookies to allow the server to access the session
        	xfbml      : true  // parse XFBML
      	});
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  	</script>
	<% content %>
</body>
</html>
