<div><% errors %></div>
<div>Aiuta <% username_to_help %> per il game <% game_id %></div>
<div><% translate.${action.action} %> <% action.object %></div>
<div>Clicca per contribuire:</div>
<% IF allowed_click %>
	<div class="theclicker"><a href="/game/help/<% action.id %>/click">CLICK</a></div>
<% ELSE %>
	<div id="defaultCountdown"></div>
<% END %>
</div>
