<% translate = {
	BRIBE = 'Corrompere',
	TAKE = 'Rapire',
	KILL = 'Uccidere',
	INTERROGATE = 'Interrogare',
	INTEL = 'Acquisire Intel',
	VISIT = 'Visitare',
	ASSAULT = 'Assaltare',
	INSPECT = 'Ispezionare',
	INFILTRATE = 'Infiltrare',
    PICKUP = 'prendere',
    ANALYSE = 'analizzare',
    USEIT = 'usare'
	}
%>
