<% translate = {
	BRIBE = 'Corrompere',
	SPY = 'Sorvegliare',
	TAKE = 'Rapire',
	KILL = 'Uccidere',
	INTERROGATE = 'Interrogare',
	RESEARCH = 'Fare ricerche',
	VISIT = 'Visitare',
	ASSAULT = 'Assaltare',
	INSPECT = 'Ispezionare',
	INFILTRATE = 'Infiltrare',
	}
%>
