<% PROCESS dictionary_it.tt %>
<% INCLUDE header.tt %>
<div class="left_column">
	<% INCLUDE user_badge.tt %>
</div>
<div class="central_body">
	<div><% errors %></div>
	<div>Aiuta <% username_to_help %> per il game <% game_id %></div>
	<div><% translate.${action.action} %> <% action.object %></div>
</div>
<% INCLUDE footer.tt %>

