<div class="box blue">
	<div id="badge">
		User: <span class="username"><% username %></span><br />
		<img src="<% avatar %>" /><br /><br />
		<% if game_id %>
			Game: <% game_id %><br />
		<% end %>
	</div>
</div>
