<div class="header">
	<h1>The DJAKARTA GAME</h1>
</div>
<div class="left_column">
</div>
<div class="central_body">
	<div class="box red">
		<p>
			<% message %>
		</p>
		<p>
			Hai guadagnato <% points %> punti!
		</p>
		<p
			I tuoi punti attuali sono <% result %>
		</p>
        <p>
            <a href="/">Torna alla homepage</a>
        </p>
	</div>
<div>
<% INCLUDE footer.tt %>
<div class="simple_overlay" id="actions">
	<div>Here comes the actions</div>
</div>

