<div class="header">
	<h1>The DJAKARTA GAME</h1>
</div>
<div class="left_column">
</div>
<div class="central_body">
	<div class="box red">
		<div id="messages">
			<% tag %>
		</div>
	</div>
<div>
<% INCLUDE footer.tt %>
<div class="simple_overlay" id="actions">
	<div>Here comes the actions</div>
</div>

